[Desktop Entry]
Type=Application
Name=Simulation Log Viewer
Comment=Simulation Script Startup
Exec=gnome-terminal --geometry=50x80+0+525 -- bash -c "/usr/local/scripts/dashboard.sh"

