[Desktop Entry]
Type=Application
Name=StartUp
Comment=Simulation Script Startup
Exec=gnome-terminal --geometry=88x15+1460+525 -- bash -c "/usr/local/scripts/startup.sh ; systemctl reboot"
