[Desktop Entry]
Type=Application
Name=StartUp
Comment=Simulation Script Startup
Exec=gnome-terminal --geometry=88x24+460+255 -- bash -c "/usr/local/scripts/startup.sh ; systemctl reboot"
